layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode} #[fg=#89B4FA,bold]{session} {command_whoami}@{command_hostname}"
                format_center "{tabs}"
                format_right  "{datetime}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

		mode_normal        "{name} "
                mode_locked        "{name} "
                mode_resize        "{name} "
                mode_pane          "{name} "
                mode_tab           "{name} "
                mode_scroll        "{name} "
                mode_enter_search  "{name} "
                mode_search        "{name} "
                mode_rename_tab    "{name} "
                mode_rename_pane   "{name} "
                mode_session       "{name} "
                mode_move          "{name} "
                mode_prompt        "{name} "
                mode_tmux          "{name} "
                
                mode_default_to_mode "tmux"

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[fg=#9399B2,bold,italic] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

		command_whoami_command    "whoami"
		command_whoami_format     "#[fg=blue, bg=black] {stdout}"
		command_whoami_interval   "60"
		command_whoami_rendermode "static"

		command_hostname_command    "hostname"
		command_hostname_format     "#[fg=blue, bg=black]{stdout}"
		command_hostname_interval   "60"
		command_hostname_rendermode "static"



                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %l:%M%p"
                datetime_timezone "America/New_York"
            }
        }
    }
}
